<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.dynamic-cast.CFB-OSX</string>
	<key>CFBundleName</key>
	<string>CFB-OSX Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	<key>DocSetFallbackURL</key>
	<string>http://dynamic-cast.com/HerveyWilson</string>
	<key>DocSetFeedName</key>
	<string>CFB-OSX Documentation</string>
	<key>DocSetFeedURL</key>
	<string>http://dynamic-cast.com/HerveyWilson/HerveyWilson.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	<key>DocSetPlatformFamily</key>
	<string>macosx</string>
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.dynamic-cast.documentation</string>
	<key>DocSetPublisherName</key>
	<string>HerveyWilson</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 HerveyWilson. All rights reserved.</string>
</dict>
</plist>
